In [15]:
# This libary use for normalizationtechniques.
import pandas as pd 
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

In [16]:
df = pd.read_csv("C:\\Users\\deepm\\Downloads\\Movies_dataset.csv\\Movies_dataset.csv")
df.head()

,index,title,original_language,release_date,popularity,vote_average,vote_count,overview
0,0,Spider-Man: Across the Spider-Verse,en,31-05-2023,3368.627,8.5,3386,"After reuniting with Gwen Stacy, Brooklyn’s fu..."
1,1,Transformers: Rise of the Beasts,en,06-06-2023,2160.316,7.5,2747,When a new threat capable of destroying the en...
2,2,The Flash,en,13-06-2023,2108.713,7.0,2305,When his attempt to save his family inadverten...
3,3,No Hard Feelings,en,15-06-2023,1978.358,7.1,562,"On the brink of losing her childhood home, Mad..."
4,4,Barbie,en,19-07-2023,1976.513,7.5,3013,Barbie and Ken are having the time of their li...

In [17]:
df.describe()

             index    popularity  vote_average    vote_count
count  10000.00000  10000.000000  10000.000000  10000.000000
mean    4999.50000     32.311563      6.319540   1560.626100
std     2886.89568     83.572929      1.465321   2915.806346
min        0.00000      8.128000      0.000000      0.000000
25%     2499.75000     14.931000      5.900000    136.000000
50%     4999.50000     19.240500      6.500000    510.000000
75%     7499.25000     28.886500      7.100000   1602.000000
max     9999.00000   3368.627000     10.000000  34245.000000

In [18]:
df.shape

(10000, 8)

In [19]:
df.isna().sum()

index                 0
title                 0
original_language     0
release_date         18
popularity            0
vote_average          0
vote_count            0
overview             95
dtype: int64

In [20]:
# 1. Fill missing 'release_date' with a default value.
df['release_date'].fillna('01-01-2023', inplace=True)

# 2. Fill missing 'overview' with a default message.
df['overview'].fillna('No overview available', inplace=True)
df.isna().sum()

index                0
title                0
original_language    0
release_date         0
popularity           0
vote_average         0
vote_count           0
overview             0
dtype: int64

In [22]:
# Min -Max Normalization

In [24]:
# Select the columns to normalize
columns_to_normalize = ['popularity', 'vote_average', 'vote_count']

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Apply Min-Max normalization
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

print("Min-Max Normalized Data: \n")
print(df[columns_to_normalize])

Min-Max Normalized Data:

      popularity  vote_average  vote_count
0       1.000000          0.85    0.098876
1       0.640437          0.75    0.080216
2       0.625081          0.70    0.067309
3       0.586291          0.71    0.016411
4       0.585742          0.75    0.087984
...          ...           ...         ...
9995    0.001336          0.57    0.007972
9996    0.001336          0.80    0.012469
9997    0.001335          0.62    0.012936
9998    0.001335          0.73    0.011797
9999    0.001335          0.73    0.005636

[10000 rows x 3 columns]

In [25]:
#2. Z-Score Standardization:

# Initialize the StandardScaler
scaler = StandardScaler()

# Apply Z-score standardization
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

print("Z-Score Standardized Data: \n")
print(df[columns_to_normalize])

Z-Score Standardized Data:

      popularity  vote_average  vote_count
0      39.923003      1.488117    0.626058
1      25.464117      0.805638    0.406897
2      24.846626      0.464399    0.255302
3      23.286772      0.532647   -0.342504
4      23.264694      0.805638    0.498129
...          ...           ...         ...
9995   -0.235669     -0.422823   -0.441624
9996   -0.235669      1.146877   -0.388806
9997   -0.235693     -0.081583   -0.383318
9998   -0.235705      0.669143   -0.396694
9999   -0.235717      0.669143   -0.469062

[10000 rows x 3 columns]

In [26]:
# Robust Scaling:-----

# Initialize the RobustScaler
scaler = RobustScaler()

# Apply Robust scaling
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

print("Robust Scaled Data: \n")
print(df[columns_to_normalize])

Robust Scaled Data:

      popularity  vote_average  vote_count
0     240.004765      1.666667    1.961801
1     153.421626      0.833333    1.525921
2     149.723944      0.416667    1.224420
3     140.383182      0.500000    0.035471
4     140.250976      0.833333    1.707367
...          ...           ...         ...
9995   -0.474616     -0.666667   -0.161664
9996   -0.474616      1.250000   -0.056617
9997   -0.474759     -0.250000   -0.045703
9998   -0.474831      0.666667   -0.072306
9999   -0.474902      0.666667   -0.216235

[10000 rows x 3 columns]

In [27]:
# 4. Decimal Scaling:----

# Select the columns to normalize
columns_to_normalize = ['popularity', 'vote_average', 'vote_count']

# Apply Decimal Scaling
df[columns_to_normalize] = df[columns_to_normalize] / 10**np.ceil(np.log10(df[columns_to_normalize].abs().max()))

print("Decimal Scaled Data: \n")
print(df[columns_to_normalize])

Decimal Scaled Data:

      popularity  vote_average  vote_count
0       0.240005      0.166667    0.019618
1       0.153422      0.083333    0.015259
2       0.149724      0.041667    0.012244
3       0.140383      0.050000    0.000355
4       0.140251      0.083333    0.017074
...          ...           ...         ...
9995   -0.000475     -0.066667   -0.001617
9996   -0.000475      0.125000   -0.000566
9997   -0.000475     -0.025000   -0.000457
9998   -0.000475      0.066667   -0.000723
9999   -0.000475      0.066667   -0.002162

[10000 rows x 3 columns]